@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  height: 10px;
  width: 3px;
}

*::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #9908c5;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #73BFFF 0%, #9A35E4 100%);
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}